{% extends "blog/gen_template.html" %}
{% load static %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    {% if not logged %}
	 <form class="form-inline my-2 my-lg-0" action="{% url "login" %}">
 		<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
        </form>
        {% else %}
      <form class="form-inline my-2 my-lg-0" action="{% url "logout_us" %}" method="post">
          {% csrf_token %}
 		<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
        </form>
        {% endif %}
    </nav>

    <div class="jumbotron pnt_cont">
      <div class="container">
        <h1 class="display-3">IT`S MY BLOG</h1>
        <p>Blog about my life</p>
      </div>
    </div>

<div class="log_container">
    {% if post %}
    <h1>{{ post.post_title }}</h1>
    <br>
    {{ post.post_text }}
    <br>
    <i>{{ post.pub_date }}</i>
{% endif %}
<br/>
<br>
    <div id="cmnts form_cmnt">
{% if comment %}
    {% for el in comment %}
        --- {{ el.pub_date }} --- {{ el.author }} : {{ el.comment }}
        <br>
    {% endfor %}
{% endif %}
    </div>
{% if logged %}
    <form action="" method="post" id="form-cmnt">
        {% csrf_token %}
        Your comment: <input type="text" name="comment" id="input-cmnt">
        <br/>
        <input type="submit", value="POST">
    </form>
{% endif %}
<br/>
</div>
      <hr>
{% endblock %}